li a.min-text{
	font-size: 12px !important;
}

.btn-extra-large{
	padding: 15px 23px;
	margin-bottom: 10px;
	font-size: 17.5px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.title, .title-prof, .adsense-title{
	color: #39d084;
	text-align: inline;
	font-size: 16px;
	display: block;
	margin-top: 25px;
	margin-bottom: 15px;
}

.title-prof{
	font-size: 26px;
	font-weight: bolder;
}

.title-prof a{
	color: #39d084;
	text-decoration: none;
}

.title-prof a:hover{
	color: #FF0000;
}

.adsense-title{
	font-size: 22px;
	font-weight: bolder;
	padding-top: 0px;
}

.sub-title{
	color: white;
	font-size: 12px;
}

.title a{
	color: #39d084;
	text-decoration: none;
}

.title a:hover{
	color: #FF0000;
	text-decoration: none;
}

.post-title a{
	color: #39d084;
	text-decoration: none;
}

.post-title a:hover{
	color: #FF0000;
}

.profdata{
	font-size: 12px;
	height: 150px;
}

.profdata:hover{
	background-color: white;
	color: black;
}

.brand{
	margin-top: 6px;
}

.discipline-link{
	color: white;
	font-size: 18px;
	padding-bottom: 10px;
	width: auto;
	margin: 12px;
	text-align: center;
}

.discipline-link:hover{
	color: red;
	text-decoration: none;
}

.erro{color:#ED1C24; margin:0}
.ok{color:#006633; margin:0}	