
.icon-home-outline:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-picture:before { content: '\e805'; } /* '' */
.icon-videocam:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e807'; } /* '' */
.icon-comment:before { content: '\e808'; } /* '' */
.icon-chat:before { content: '\e809'; } /* '' */
.icon-bell:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-pencil:before { content: '\e80c'; } /* '' */
.icon-edit:before { content: '\e80d'; } /* '' */
.icon-trash-empty:before { content: '\e80e'; } /* '' */
.icon-cog:before { content: '\e80f'; } /* '' */
.icon-calendar:before { content: '\e810'; } /* '' */
.icon-search-1:before { content: '\e811'; } /* '' */
.icon-user-1:before { content: '\e812'; } /* '' */
.icon-users-1:before { content: '\e813'; } /* '' */
.icon-user-add:before { content: '\e814'; } /* '' */
.icon-video:before { content: '\e815'; } /* '' */
.icon-picture-1:before { content: '\e816'; } /* '' */
.icon-camera:before { content: '\e817'; } /* '' */
.icon-check:before { content: '\e818'; } /* '' */
.icon-cancel:before { content: '\e819'; } /* '' */
.icon-plus-circled:before { content: '\e81a'; } /* '' */
.icon-minus-circled:before { content: '\e81b'; } /* '' */
.icon-attach:before { content: '\e81c'; } /* '' */
.icon-eye:before { content: '\e81d'; } /* '' */
.icon-download:before { content: '\e81e'; } /* '' */
.icon-upload:before { content: '\e81f'; } /* '' */
.icon-vcard:before { content: '\e820'; } /* '' */
.icon-location-1:before { content: '\e821'; } /* '' */
.icon-direction-1:before { content: '\e822'; } /* '' */
.icon-thumbs-up:before { content: '\e823'; } /* '' */
.icon-thumbs-down:before { content: '\e824'; } /* '' */
.icon-mobile:before { content: '\e825'; } /* '' */
.icon-globe-alt:before { content: '\e826'; } /* '' */
.icon-users-2:before { content: '\e827'; } /* '' */
.icon-eye-1:before { content: '\e828'; } /* '' */
.icon-eye-outline:before { content: '\e829'; } /* '' */
.icon-code:before { content: '\e82a'; } /* '' */
.icon-edit-1:before { content: '\e82b'; } /* '' */
.icon-pencil-1:before { content: '\e82c'; } /* '' */
.icon-pen:before { content: '\e82d'; } /* '' */
.icon-tags:before { content: '\e82e'; } /* '' */
.icon-mail:before { content: '\e82f'; } /* '' */
.icon-heart:before { content: '\e830'; } /* '' */
.icon-star:before { content: '\e831'; } /* '' */
.icon-attach-outline:before { content: '\e832'; } /* '' */
.icon-globe:before { content: '\e833'; } /* '' */
.icon-paper-plane:before { content: '\e834'; } /* '' */
.icon-palette:before { content: '\e835'; } /* '' */
.icon-graduation-cap:before { content: '\e836'; } /* '' */
.icon-language:before { content: '\e837'; } /* '' */
.icon-megaphone:before { content: '\e838'; } /* '' */
.icon-brush:before { content: '\e839'; } /* '' */
.icon-basket:before { content: '\e83a'; } /* '' */
.icon-clock:before { content: '\e83b'; } /* '' */
.icon-hourglass:before { content: '\e83c'; } /* '' */
.icon-lock:before { content: '\e83d'; } /* '' */
.icon-lock-open:before { content: '\e83e'; } /* '' */
.icon-star-empty:before { content: '\e83f'; } /* '' */
.icon-heart-1:before { content: '\e840'; } /* '' */
.icon-star-1:before { content: '\e841'; } /* '' */
.icon-mail-1:before { content: '\e842'; } /* '' */
.icon-megaphone-1:before { content: '\e843'; } /* '' */
.icon-book:before { content: '\e844'; } /* '' */
.icon-award:before { content: '\e845'; } /* '' */
.icon-globe-1:before { content: '\e846'; } /* '' */
.icon-clock-1:before { content: '\e847'; } /* '' */
.icon-phone:before { content: '\e848'; } /* '' */
.icon-wrench:before { content: '\e849'; } /* '' */
.icon-cog-alt:before { content: '\e84a'; } /* '' */
.icon-thumbs-up-1:before { content: '\e84b'; } /* '' */
.icon-thumbs-down-1:before { content: '\e84c'; } /* '' */
.icon-heart-2:before { content: '\e84d'; } /* '' */
.icon-heart-empty:before { content: '\e84e'; } /* '' */
.icon-right-hand:before { content: '\e84f'; } /* '' */
.icon-left-hand:before { content: '\e850'; } /* '' */
.icon-up-hand:before { content: '\e851'; } /* '' */
.icon-down-hand:before { content: '\e852'; } /* '' */
.icon-shuffle:before { content: '\e853'; } /* '' */
.icon-target:before { content: '\e854'; } /* '' */
.icon-truck:before { content: '\e855'; } /* '' */
.icon-art-gallery:before { content: '\e856'; } /* '' */
.icon-call:before { content: '\e857'; } /* '' */
.icon-phone-1:before { content: '\e858'; } /* '' */
.icon-calendar-1:before { content: '\e859'; } /* '' */
.icon-calendar-circled:before { content: '\e85a'; } /* '' */
.icon-desktop-1:before { content: '\e85b'; } /* '' */
.icon-laptop-1:before { content: '\e85c'; } /* '' */
.icon-globe-2:before { content: '\e85d'; } /* '' */
.icon-globe-alt-1:before { content: '\e85e'; } /* '' */
.icon-blind:before { content: '\e85f'; } /* '' */
.icon-guidedog:before { content: '\e860'; } /* '' */
.icon-accessibility:before { content: '\e861'; } /* '' */
.icon-hearing-impaired:before { content: '\e862'; } /* '' */
.icon-glasses:before { content: '\e863'; } /* '' */
.icon-address-book-alt:before { content: '\e864'; } /* '' */
.icon-address-book:before { content: '\e865'; } /* '' */
.icon-book-1:before { content: '\e866'; } /* '' */
.icon-leaf:before { content: '\e867'; } /* '' */
.icon-fontsize:before { content: '\e868'; } /* '' */
.icon-dribbble:before { content: '\e869'; } /* '' */
.icon-search-2:before { content: '\e86a'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile-1:before { content: '\f10b'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-code-1:before { content: '\f121'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-superscript:before { content: '\f12b'; } /* '' */
.icon-subscript:before { content: '\f12c'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-wheelchair:before { content: '\f193'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-graduation-cap-1:before { content: '\f19d'; } /* '' */
.icon-language-1:before { content: '\f1ab'; } /* '' */
.icon-fax:before { content: '\f1ac'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-taxi:before { content: '\f1ba'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-paper-plane-1:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-tty:before { content: '\f1e4'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */